.my_footer {
    width: 100%;
    height: $foot_height;
    background: red;
    .fot_top {
        height: 80%;
        width: 70%;
        background: black;
        margin: 0 auto;
    }
    .fot_bottom {
        height: 20%;
        width: 70%;
        background: blue;
        margin: 0 auto;
    }
}
